{% extends 'base.html.twig' %}
{% block body %}

    {{ tableStatus }}
    {#{{ tableId }}#}

<table>
    {% for tableRow in tableData %}
        <tr>
        <td> {{ tableRow.player.name }} </td>
        <td> {{ tableRow.score }} </td>
    {% endfor %}
    </tr>
</table>

    <table>
        {% for tableRow in shuffleData %}
        <tr>
            <td> {{ tableRow.player.name }} </td>
            <td> {{ tableRow.score }} </td>
            {% endfor %}
        </tr>
    </table
{% endblock %}

