{% extends 'base.html.twig' %}
{% block body %}
    {{ tableStatus }}
<table>
    {% for tableRow in tableData %}
        <tr>
        <td> {{ tableRow.player.name }} </td>
        <td> {{ tableRow.points }} </td>
    {% endfor %}
    </tr>
</table>
    <br>
    <table>
        {% for pair in shuffleData %}
            <tr>
                {% for single in pair %}
                    <td>{{ single.player.name }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="{{ path('get_score') }}" method="post">
    <table>
        {{ pair[0].player.name }} <input type="text" name= {{ pair[0].id }}>
        vs
        {{ pair[1].player.name }} <input type="text" name= {{ pair[1].id }}>
            <input class="input_button" type="submit" value="Submit" />
    </table>
    </form>
{% endblock %}

