{% extends 'base.html.twig' %}
{% block body %}
    <p>Number Of Games: {{ numberOfGames }}</p>
    <p>Game ranking:</p>
<table>
    {% for tableRow in tableData %}
        <tr>
            <td> {{ tableRow.player.name }} </td>
            <td> {{ tableRow.points }} </td>
    {% endfor %}
        </tr>
</table>
    <p>Incoming duels:</p>
    <table>
    <tr>
        <th>Name</th>
        <th> vs </th>
        <th>Name</th>
    </tr>
        {% for pair in pairs %}
            <tr>
                <td> {{ pair.player1.name }}</td>
                <td> : </td>
                <td> {{ pair.player1.name }}</td>
        {% endfor %}
            </tr>
    </table>
    <br>
    <form action="{{ path('get_score') }}" method="post">
    <table>
        {{ duel.player1.name }} <input type="text" name= {{ duel.player2.id }}>
        vs
        {{ duel.player2.name }} <input type="text" name= {{ duel.player1.id }}>
            <input class="input_button" type="submit" value="Submit" />
    </table>
    </form>
{% endblock %}