{% extends 'base.html.twig' %}
{% block body %}
    {{ tableStatus }}
<table>
    {% for tableRow in tableData %}
        <tr>
        <td> {{ tableRow.player.name }} </td>
        <td> {{ tableRow.score }} </td>
    {% endfor %}
    </tr>
</table>
    <table>
        {% for  key, user in shuffleData %}
            <tr>
                <td>{{ user[0].player.name }} vs {{ user[1].player.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

