{% extends 'base.html.twig' %}
{% block body %}
    {% set position = 1 %}
    <h2>Let's play!</h2>
    <h3>number of games: {{ numberOfGames }}</h3>
    <h3>revenges: {{ revenges }}</h3>
    {% block scoretable %}
        <table style="width :200px">
            <tr align="left">
                <th>Position</th>
                <th>Name</th>
                <th>Points</th>
                <th>Score</th>
            </tr>
            <tr align="left">
                {% for player in scoreTable %}
                <td> {{ position }} </td>
                <td> {{ player.playerName }}</td>
                <td> {{ player.points }} </td>
                <td> {{ player.score }} </td>
            </tr>
            {% set position = position + 1 %}
            {% endfor %}
        </table>
    {% endblock %}
    {% if selector == 'revenges' %}
        {% include 'render_table/revenge_view.html.twig' %}
    {% else %}
        {% include 'render_table/duel_view.html.twig' %}
    {% endif %}
    {% block duel %}
        <h3>Playing players:</h3>
        <table style="width :200px">
            <tr align="left">
                {% if scoreTable | length %}
                    {% for duel in duelTable | slice(0, 1) %}
                        {% if selector == 'revenges' %}
                            {% include 'render_table/revenge_play.html.twig' %}
                        {% else %}
                            {% include 'render_table/duel_play.html.twig' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
        </table>
    {% endblock %}
    {% block revengestable %}
    {% endblock %}
    {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
{% endblock %}
