{% extends 'base.html.twig' %}
{% block body %}
    {% set position = 1 %}
    <h2>Let's play!</h2>
    <h3>number of games: {{ numberOfGames }}</h3>
    {% block scoretable %}
        <table style="width :200px">
            <tr align="left">
                <th>Position</th>
                <th>Name</th>
                <th>Points</th>
            </tr>
            <tr align="left">
                {% for player in scoreTable %}
                <td> {{ position }} </td>
                <td> {{ player.player.name }}</td>
                <td> {{ player.points }} </td>
            </tr>
            {% set position = position + 1 %}
            {% endfor %}
        </table>
    {% endblock %}
    <h3>Incoming duels:</h3>
    {% block dueltable %}
        <table style="width :200px">
            <tr align="left">
                <th>Name</th>
                <th>vs</th>
                <th>Name</th>
            </tr>
            <tr align="left">
                {% for duel in duels %}
                <td> {{ duel.player0.name }} </td>
                <td> - </td>
                <td> {{ duel.player1.name }} </td>
            </tr>
                {% endfor %}
        </table>
    {% endblock %}
    {% block duel %}
        <h3>Playing players:</h3>
        <table style="width :200px">
            <tr align="left">
                {% if scoreTable | length %}
                    {% for duel in duels | slice(0, 1) %}
                        <td> {{ duel.player0.name }} </td>
                        <td> vs </td>
                        <td> {{ duel.player1.name }} </td>
                    {% endfor %}
                {% endif %}
            </tr>
        </table>
    {% endblock %}
    {% block revengestable %}
    <h3>revenges: {{ revenges }}</h3>
    {% endblock %}
{% endblock %}
