{% extends 'base.html.twig' %}
{% block body %}
    {% set position = 1 %}
    <h2>Let's play!</h2>
    <h3>number of games: {{ numberOfGames }}</h3>
    <h3>revenges: {{ revenges }}</h3>
    {% block scoretable %}
        <table style="width :200px">
            <tr align="left">
                <th>Position</th>
                <th>Name</th>
                <th>Points</th>
                <th>Score</th>
            </tr>
            <tr align="left">
                {% for player in scoreTable %}
                <td> {{ position }} </td>
                <td> {{ player.playerName }}</td>
                <td> {{ player.points }} </td>
                <td> {{ player.score }} </td>
            </tr>
            {% set position = position + 1 %}
            {% endfor %}
        </table>
    {% endblock %}
    <h3>Incoming duels:</h3>
    {% block dueltable %}
        <table style="width :200px">
            <tr align="left">
                <th>Name</th>
                <th>vs</th>
                <th>Name</th>
            </tr>
            <tr align="left">
                {% for duel in duels %}
                <td> {{ duel.player0.name }} </td>
                <td> - </td>
                <td> {{ duel.player1.name }} </td>
            </tr>
                {% endfor %}
        </table>
    {% endblock %}
    {% block duel %}
        <h3>Playing players:</h3>
        <table style="width :200px">
            <tr align="left">
                {% if scoreTable | length %}
                    {% for duel in duels | slice(0, 1) %}
                        <td> {{ duel.player0.name }} </td>
                        <td> vs </td>
                        <td> {{ duel.player1.name }} </td>
            </tr>
            <tr>
                <form action="{{ path('check_score')}}"  method="POST">
                    <td><input type="number" name="{{ duel.player0.id }}" min="1" max="8"></td>
                    <td>&nbsp</td>
                    <td><input type="number" name="{{ duel.player1.id }}" min="1" max="8"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </tr>
                    {% endfor %}
                {% endif %}
        </table>
    {% endblock %}
    {% block revengestable %}
    {% endblock %}
    {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
{% endblock %}
