{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <h2>Add or remove players.</h2>
    <h3>Press 'next' button to continue.</h3>
<table style="width:20%">
    <tr>
        {{ form_start(addPlayerForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(addPlayerForm) }}
        {{ form_end(addPlayerForm) }}
    </tr>
    <tr>
        {% for player in allPlayers %}
    <tr>
        <td>
            {{ player.name }}
        </td>
        <td><a href="{{ path('select_remove', {'id': player.id}) }}">click to remove</a></td>
    </tr>
        {% endfor %}
</table>
    <button type="button" onclick="window.location='{{ url("welcome") }}'"><--- back</button>
    <button type="button" onclick="window.location='{{ url("games_number") }}'">next ---></button>
{% endblock %}
