{% extends 'base.html.twig' %}
{% block body %}
    <h2>Set parameters.</h2>
    <h3>Press 'next' button to continue.</h3>
    <p>Number of games: {{ numberOfGames }}</p>
    <form action="{{ path('get_number') }}" method="post">
        <input type="number" name=number min="1" max="10" value="1">
        <input type="submit" value="Submit" />
    </form>
    {% set answer = 'on' %}
    {% if revenges == 0 %}
        {% set answer = 'off' %}
    {% endif %}
    <p>Revenges: {{ answer }}</p>
    <form action="{{ path('get_answer') }}" method="post">
    <input type="submit" name=answer value="on" />
    <input type="submit" name=answer value="off"/>
    </form>
    <p></p>
    <button type="button" onclick="window.location='{{ url("select_players") }}'"><--- back</button>
    <button type="button" onclick="window.location='{{ url("settings_check") }}'">next ---></button>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

